* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e2e;
  color: white;
}

header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
  background-color: #292943;
  color: white;
  height: 100px;
}

header div a img {
  height: 2rem;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

a:hover {
  color: #e64a19;
  background-color: #4a4a6e;
  border-radius: 10px;
  padding: 10px;
}

main {
  padding: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  background-color: #2e2e48;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 600px;
  width: 450px;
  line-height: 1.5rem;
  grid-area: formContainer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formContainer label {
  font-weight: bold;
  margin-top: 10px;
}

.formContainer select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
  background-color: #3a3a5e;
  color: white;
  outline: none;
}

#searchListButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff5722;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3 ease;
}

#searchListButton:hover {
  background-color: #e64a19;
}
